<div class="row header-bar">
  <div class="col-xs-6">
    <h1>Deployments</h1>
  </div>
  <div class="col-xs-6">
    <div class="new-deployment-button pull-right">
      <form action="/deployments/" method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-success top-action-button"> New Deployment</button>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped table-bordered deployments-table">
      <thead>
      <tr>
        <th>#</th>
        <th>Deployment Name</th>
        <th>Products</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      {{#each deployments as |deployment|}}
        <tr>
          <td><a href="/deployments/{{deployment._id}}">{{deployment._id}}</a></td>
          <td>{{depoyment.name}}</td>
          <td>{{deployment.products}}</td>
          <td>{{deployment.status}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>