<h1>{{deploymentName}}</h1>

<ul class="nav nav-tabs deployment-step-tabs">
  <li><a href="/deployments/{{deployment._id}}">Deployment Settings</a></li>
  {{#each formattedSteps as |step|}}
    <li class="step-link"><a href="/deployments/{{step.deploymentId}}/steps/{{step.humanIndex}}">{{step.tabName}}</a></li>
  {{/each}}

  <li class="add-step-link"><a href="#">Add Step</a></li>
  <li class="review-link active"><a href="/deployments/{{deployment._id}}/review">Review</a></li>
</ul>

<h1>Review Page</h1>