<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="/vendor/patternfly/css/patternfly.min.css">
    <link rel="stylesheet" href="/vendor/patternfly/css/patternfly-additions.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{#each styles as |style|}}
      <link rel='stylesheet' href='/stylesheets/{{style}}' />
    {{/each}}
    {{#if fusorVars}}
      <script type="text/javascript">
        window.fusor = {{{fusorVars}}};
      </script>
    {{/if}}
    <script src="/vendor/jquery/jquery.min.js" defer></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js" defer></script>
    <script src="/vendor/bootstrap-select/js/bootstrap-select.min.js" defer></script>
    {{#each scripts as |script|}}
      <script src="/javascripts/{{script}}" defer></script>
    {{/each}}
  </head>
  <body>
  <nav class="navbar navbar-default navbar-pf" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/vendor/patternfly/img/brand.svg" alt="PatternFly Enterprise Application" />
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-collapse-1">
      <ul class="nav navbar-nav navbar-utility">
        <li>
          <a href="#">Logged in</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="pficon pficon-user"></span>
            Johnny Fusor
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-primary">
        <li>
          <a href="/">Red Hat Unified Installer</a>
        </li>
        <li>
          <a href="/deployments">Deployments</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">{{{body}}}</div>
  </body>
</html>
